.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#new-quote {
  align-self: flex-end;
}

#tweet-quote {
  align-self: flex-start;
}